<div class="row">
  <div class="small-5 large-5 columns">
    First
    {{outlet}}
  </div>
  <div class="small-2 large-2 columns">
    Middle
  </div>
  <div class="small-5 large-5 columns">
    Last
  </div>
</div>
